<% flash.each do |key, message| %>
  <!--Bootstrapのクラスに変換させる-->
  <div class="alert alert-<%= bootstrap_alert(key) %>"><%= message %><button type="button" class="close" data-dismiss="alert">&times;</button></div>
<% end %>