<div class="d-flex">
  <%= image_tag notification.subject.follower.get_profile_image(75, 75), class: "rounded-circle mr-3" %>
  <div class="align-self-center">
    <%=  notification.subject.follower.name %> があなたをフォローしました
  </div>
  <div class="ml-auto align-self-end text-right">
    <%= l notification.created_at, format: :short %>
  </div>
</div>