<%= image_tag notification.subject.user.get_profile_image(75, 75) %>
<%=  notification.subject.user.name %> があなたの投稿にコメントしました
<div class="text-right" >
  <%= l notification.created_at, format: :short %>
</div>
