<div class="d-flex">
  <%= image_tag notification.subject.requester.get_profile_image(75, 75), class: "rounded-circle mr-3" %>
  <div class="align-self-center">
    <%=  notification.subject.requester.name %> からリクエストが届きました
  </div>
  <div class="ml-auto align-self-end">
    <%= l notification.created_at, format: :short %>
  </div>
</div>