 <% if current_user.notifications.where(read: 'false').count > 0 %>
  <span class="badge badge-primary navbar-badge position-absolute" style='top: 0; right:0;'>
    <%= current_user.notifications.where(read: 'false').count %>
  </span>
 <% end %>