@import '~bootstrap/scss/bootstrap';

.favorite-link {
  position: absolute;
  bottom: 10px;
  left: 25px;
  padding-bottom: 10px;
  z-index: 50;
}

.card-wrapper {
  position: relative;
}

.read {
  
}