<div class="container">
  <h4>検索結果</h4>
  <table class="table table-hover table-inverse">
    <tbody>
      <% @posts.each do |pos| %>
        <tr>
          <td><%= pos.songs.artist_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

