/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */




* {
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

header {
  margin-bottom: 50px;
}

.body-wrapper {
  position: relative;
  padding-bottom: 190px;
  min-height: 100vh;  // bodyの最小サイズをウィンドウの大きさにする
}

.nav-link {
  position: relative;
}

.nav-link::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #bbc9d9;
  bottom: 0px;               /*アンダーラインがaタグの下端から現れる*/
  transform: scale(0, 1);     /*アンダーラインの縮尺比率。ホバー前はx方向に0*/
  transform-origin: left top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の左端*/
  transition: transform 0.3s; /*変形の時間*/
}

.nav-link:hover::after {
  transform: scale(1, 1);     /*ホバー後、x軸方向に1（相対値）伸長*/
}

@media screen and (max-width:1024px) {
  .nav-link::after {
    height: 1px;
  }
  .nav-link:hover::after {
    transform: scale(0.4, 1);     /*ホバー後、x軸方向に1（相対値）伸長*/
  }
}

.logo, .rank-index {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.rank-1 {
  background: linear-gradient(45deg, #B67B03 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #B67B03 90% 100%);
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient 5s infinite cubic-bezier(.62, .28, .23, .99) both;
}

.rank-2 {
  background: linear-gradient(45deg, #757575 0%, #9E9E9E 45%, #E8E8E8 70%, #9E9E9E 85%, #757575 90% 100%);
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient 5s infinite cubic-bezier(.62, .28, .23, .99) both;
}

.rank-3 {
  background: linear-gradient(45deg, #a57e65 0%, #a57e65 45%, #f3cfb8 70%, #a57e65 85%, #a57e65 90% 100%);
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient 5s infinite cubic-bezier(.62, .28, .23, .99) both;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.form-control-date {
  display: inline-block;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.request-field:not(:last-child) {
  border-bottom: 1px solid #dee2e6;
}

.field_with_errors {
  display: contents;
  // input {
  //   @extend .is-invalid;
  // }
}

.favorite-link {
  position: absolute;
  bottom: 10px;
  left: 25px;
  padding-bottom: 10px;
  z-index: 50;
}

.config-link {
  position: absolute;
  bottom: 10px;
  right: 25px;
  padding-bottom: 10px;
  z-index: 50;
}

.card-wrapper {
  position: relative;
}

.pagination {
  justify-content: center;
}