.logo {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.theme {
  font-family: 'Yusei Magic', sans-serif;
  font-size: 65px;
}

.flash_field {
  position: absolute;
  bottom: 440px;
  z-index: 50;
  width: 75%;
}

